In [ ]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 
!pip install psycopg2

import psycopg2
import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

In [ ]:

engine = create_engine('hive://spark-thrift:10000/default')
pd.read_sql_query("create database if not exists sample",con=engine)
pd.read_sql_query("show databases",con=engine)

In [ ]:
pd.read_sql_query("use sample", con=engine)
pd.read_sql_query("create table if not exists tbl1 (ckey int, cval varchar(64))", con=engine)
pd.read_sql_query("show tables", con=engine)

In [ ]:
pd.read_sql_query("insert into sample.tbl1 values (1, 'a');", con=engine)
pd.read_sql_query("select * from sample.tbl1;", con=engine)

In [ ]:
pd.read_sql_query("show tables", con=engine)

In [ ]:
pd.read_sql_query("drop table if exists sample.hudi_tbl", con=engine);

In [ ]:
pd.read_sql_query("""
    create table sample.hudi_tbl (
      id int,
      name string,
      price double,
      ts bigint
    ) 
    using hudi
    tblproperties (
      type = 'cow',
      primaryKey = 'id',
      hoodie.datasource.hive_sync.mode = 'JDBC'
    )
""", con=engine)

In [ ]:
pd.read_sql_query("show tables", con=engine)

In [ ]:
pd.read_sql_query("""

insert into sample.hudi_tbl 
values (1,'a',2.0, 1655951583.549022)

""", con=engine)

In [ ]:
pd.read_sql_query("""select * from sample.hudi_tbl""", con=engine)

# using datetime module
import datetime;
  
# ct stores current time
ct = datetime.datetime.now()
print("current time:-", ct)
  
# ts store timestamp of current time
ts = ct.timestamp()
print("timestamp:-", ts)

## for pg hms testing ##


engine = create_engine('postgresql://hive:pssd@postgres-hms:5432/metastore')
pd.read_sql_query("""
SELECT datname FROM pg_database
WHERE datistemplate = false;
""",con=engine)

pd.read_sql_query("""
SELECT distinct table_catalog, table_schema, table_name
FROM information_schema.tables
where table_schema = 'public'
""",con=engine)

pd.read_sql_query("""
SELECT * from "TBLS"
""",con=engine)

In [ ]:
engine = create_engine('hive://spark-thrift:10000/default')
pd.read_sql_query("use sample", con=engine)
pd.read_sql_query("show tables", con=engine)

In [ ]:
pd.read_sql_query("drop table if exists sample.aisles", con=engine)
pd.read_sql_query("""
create external table sample.aisles (aisle_id integer, aisle varchar(100) ) 
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
STORED AS TEXTFILE 
LOCATION '/aisles' 
""", con=engine)

In [ ]:
pd.read_sql_query("select * from sample.aisles limit 100", con=engine)

In [ ]:
pd.read_sql_query("drop table if exists sample.tbl1", con=engine)

In [ ]:

pd.read_sql_query("""
    create external table if not exists sample.tbl1 (ckey int, cval varchar(64))
    ROW FORMAT DELIMITED 
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE 
    LOCATION 'hdfs://hadoop-service:9000/data/tbl1'
""", con=engine)

In [ ]:
pd.read_sql_query("select * from sample.tbl1 limit 100", con=engine)

In [ ]:
pd.read_sql_query("insert into sample.tbl1 values (1, 'a')", con=engine)