In [1]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 

import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: pyhive in /opt/conda/lib/python3.9/site-packages (0.6.5)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from pyhive) (2.8.2)
Requirement already satisfied: future in /opt/conda/lib/python3.9/site-packages (from pyhive) (0.18.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil->pyhive) (1.16.0)
Requirement already satisfied: thrift in /opt/conda/lib/python3.9/site-packages (0.16.0)
Requirement already satisfied: six>=1.7.2 in /opt/conda/lib/python3.9/site-packages (from thrift) (1.16.0)
Requirement already satisfied: sasl in /opt/conda/lib/python3.9/site-packages (0.3.1)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from sasl) (1.16.0)
Requirement already satisfied: thrift-sasl in /opt/conda/lib/python3.9/site-packages (0.4.3)
Requirement already satisfied: pure-sasl>=0.6.2 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (0.6.2)
Requirement already satisfied: thrift>=0.10.0 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (0.16.0)
Requirement already satisfied: six>=1.13.0 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (1.16.0)

In [2]:

engine = create_engine('hive://spark-master:10000/default')
pd.read_sql("show databases",con=engine)

  namespace
0   default
1    sample

In [4]:
pd.read_sql("create database IF NOT EXISTS sample",con=engine)
pd.read_sql("use sample", con=engine)
pd.read_sql("create table if not exists employee ( eid int, name String )",con=engine)
pd.read_sql("insert into employee values (1, 'a') , (2, 'b') ",con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [ ]:
pd.read_sql("show tables", con=engine)

In [ ]:
df = pd.read_sql_query(" select * from employee ",con=engine)
df