In [1]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 

import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
Collecting pyhive
  Downloading PyHive-0.6.5.tar.gz (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 5.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting future
  Downloading future-0.18.2.tar.gz (829 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 829.2/829.2 kB 7.1 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from pyhive) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil->pyhive) (1.16.0)
Building wheels for collected packages: pyhive, future
  Building wheel for pyhive (setup.py) ... done
  Created wheel for pyhive: filename=PyHive-0.6.5-py3-none-any.whl size=51558 sha256=bafc5e941b0ad0935af4a8f443a3dc3537f7d8d037d4c1b399fa81a999fd473f
  Stored in directory: /home/spark/.cache/pip/wheels/0b/8c/09/c6357b8b50c7ed462aca5b70958031fb121e94297b00048b36
  Building wheel for future (setup.py) ... done
  Created wheel for future: filename=future-0.18.2-py3-none-any.whl size=491058 sha256=cb83b8b6ceaac2ea62ebcf62b83c3307d47eb390474febcf4829f86b24630188
  Stored in directory: /home/spark/.cache/pip/wheels/2f/a0/d3/4030d9f80e6b3be787f19fc911b8e7aa462986a40ab1e4bb94
Successfully built pyhive future
Installing collected packages: future, pyhive
Successfully installed future-0.18.2 pyhive-0.6.5
Collecting thrift
  Downloading thrift-0.16.0.tar.gz (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.6/59.6 kB 9.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.7.2 in /opt/conda/lib/python3.9/site-packages (from thrift) (1.16.0)
Building wheels for collected packages: thrift
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.16.0-cp39-cp39-linux_x86_64.whl size=183221 sha256=2e221bbfdabf1811a91e6d86ac37969c20d7dea43c040d3ed1037ca6c80b5ca1
  Stored in directory: /home/spark/.cache/pip/wheels/67/b1/a4/cf8b927fdbee8e55234f1f421b531685b960e5f23b6273cfcf
Successfully built thrift
Installing collected packages: thrift
Successfully installed thrift-0.16.0
Collecting sasl
  Downloading sasl-0.3.1.tar.gz (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.7/44.7 kB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from sasl) (1.16.0)
Building wheels for collected packages: sasl
  Building wheel for sasl (setup.py) ... done
  Created wheel for sasl: filename=sasl-0.3.1-cp39-cp39-linux_x86_64.whl size=82612 sha256=9d007797353da9799561079e5b341bd2fa09ef3b69e6c7bd976ea92b38fb9733
  Stored in directory: /home/spark/.cache/pip/wheels/cd/e8/3c/b2e16dc88a3b7d6ea6d01edc29ac9c496660f66b33aebe70e6
Successfully built sasl
Installing collected packages: sasl
Successfully installed sasl-0.3.1
Collecting thrift-sasl
  Downloading thrift_sasl-0.4.3-py2.py3-none-any.whl (8.3 kB)
Requirement already satisfied: thrift>=0.10.0 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (0.16.0)
Collecting pure-sasl>=0.6.2
  Downloading pure-sasl-0.6.2.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.13.0 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (1.16.0)
Building wheels for collected packages: pure-sasl
  Building wheel for pure-sasl (setup.py) ... done
  Created wheel for pure-sasl: filename=pure_sasl-0.6.2-py3-none-any.whl size=11427 sha256=be307fea1af265045f557c14b831bbe52c64b99cde81e0e3ace1bbeb31ab86e0
  Stored in directory: /home/spark/.cache/pip/wheels/46/87/60/7fb7069c8135d081326017206a8481795191246b680e2ff67a
Successfully built pure-sasl
Installing collected packages: pure-sasl, thrift-sasl
Successfully installed pure-sasl-0.6.2 thrift-sasl-0.4.3

In [5]:

engine = create_engine('hive://spark-master:10000/default')
pd.read_sql("show databases",con=engine)

  namespace
0   default
1    sample

In [8]:
pd.read_sql("create database IF NOT EXISTS sample",con=engine)
pd.read_sql("use sample", con=engine)
pd.read_sql("create table if not exists employee ( eid int, name String )",con=engine)
pd.read_sql("insert into employee values (1, 'a') , (2, 'b') ",con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [ ]:
pd.read_sql("show tables", con=engine)

In [9]:
df = pd.read_sql_query(" select * from employee ",con=engine)
df

   eid name
0    1    a
1    1    a
2    2    b
3    2    b

In [31]:
pd.read_sql("drop table if exists sample.aisles", con=engine)


pd.read_sql("""
create external table sample.aisles (aisle_id integer, aisle varchar(100) ) 
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ',' 
STORED AS TEXTFILE 
LOCATION '/data/aisles' 
tblproperties ("skip.header.line.count"="1")
""", con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [32]:
df = pd.read_sql_query("select * from sample.aisles limit 10", con=engine)
df

   aisle_id                       aisle
0       NaN                       aisle
1       1.0       prepared soups salads
2       2.0           specialty cheeses
3       3.0         energy granola bars
4       4.0               instant foods
5       5.0  marinades meat preparation
6       6.0                       other
7       7.0               packaged meat
8       8.0             bakery desserts
9       9.0                 pasta sauce