In [1]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 
!pip install psycopg2

import psycopg2
import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (1.4.37)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: pyhive in /opt/conda/lib/python3.10/site-packages (0.6.5)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.10/site-packages (from pyhive) (2.8.2)
Requirement already satisfied: future in /opt/conda/lib/python3.10/site-packages (from pyhive) (0.18.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil->pyhive) (1.16.0)
Requirement already satisfied: thrift in /opt/conda/lib/python3.10/site-packages (0.16.0)
Requirement already satisfied: six>=1.7.2 in /opt/conda/lib/python3.10/site-packages (from thrift) (1.16.0)
Requirement already satisfied: sasl in /opt/conda/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from sasl) (1.16.0)
Requirement already satisfied: thrift-sasl in /opt/conda/lib/python3.10/site-packages (0.4.3)
Requirement already satisfied: pure-sasl>=0.6.2 in /opt/conda/lib/python3.10/site-packages (from thrift-sasl) (0.6.2)
Requirement already satisfied: six>=1.13.0 in /opt/conda/lib/python3.10/site-packages (from thrift-sasl) (1.16.0)
Requirement already satisfied: thrift>=0.10.0 in /opt/conda/lib/python3.10/site-packages (from thrift-sasl) (0.16.0)
Requirement already satisfied: psycopg2 in /opt/conda/lib/python3.10/site-packages (2.9.3)

In [2]:

engine = create_engine('hive://spark-thrift:10000/default')
pd.read_sql_query("create database if not exists sample",con=engine)
pd.read_sql_query("show databases",con=engine)

  namespace
0   default
1    sample

In [3]:
pd.read_sql_query("use sample", con=engine)
pd.read_sql_query("create table if not exists tbl1 (ckey int, cval varchar(64))", con=engine)
pd.read_sql_query("show tables", con=engine)

  database tableName  isTemporary
0   sample      tbl1        False

In [4]:
pd.read_sql_query("insert into sample.tbl1 values (1, 'a');", con=engine)
pd.read_sql_query("select * from sample.tbl1;", con=engine)

   ckey cval
0     1    a

In [5]:

pd.read_sql_query("show tables", con=engine)

  database tableName  isTemporary
0   sample      tbl1        False

In [6]:
pd.read_sql_query("drop table if exists sample.hudi_tbl", con=engine);

In [7]:
pd.read_sql_query("""
    create table sample.hudi_tbl (
      id int,
      name string,
      price double,
      ts bigint
    ) 
    using hudi
    tblproperties (
      type = 'cow',
      primaryKey = 'id',
      hoodie.datasource.hive_sync.mode = 'JDBC'
    )
""", con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [8]:
pd.read_sql_query("show tables", con=engine)

  database tableName  isTemporary
0   sample  hudi_tbl        False
1   sample      tbl1        False

In [9]:
pd.read_sql_query("""

insert into sample.hudi_tbl 
values (1,'a',2.0, 1655951583.549022)

""", con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [10]:
pd.read_sql_query("""select * from sample.hudi_tbl""", con=engine)

OperationalError: (pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=["*org.apache.hive.service.cli.HiveSQLException:Error running query: org.apache.spark.sql.AnalysisException: Table or view not found: ample.hudi_tbl; line 1 pos 14;\n'Project [*]\n+- 'UnresolvedRelation [ample, hudi_tbl]\n:37:36", 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$thriftserver$SparkExecuteStatementOperation$$execute:SparkExecuteStatementOperation.scala:321', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:runInternal:SparkExecuteStatementOperation.scala:202', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:278', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$thriftserver$SparkOperation$$super$run:SparkExecuteStatementOperation.scala:46', 'org.apache.spark.sql.hive.thriftserver.SparkOperation:$anonfun$run$1:SparkOperation.scala:44', 'scala.runtime.java8.JFunction0$mcV$sp:apply:JFunction0$mcV$sp.java:23', 'org.apache.spark.sql.hive.thriftserver.SparkOperation:withLocalProperties:SparkOperation.scala:78', 'org.apache.spark.sql.hive.thriftserver.SparkOperation:withLocalProperties$:SparkOperation.scala:62', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:withLocalProperties:SparkExecuteStatementOperation.scala:46', 'org.apache.spark.sql.hive.thriftserver.SparkOperation:run:SparkOperation.scala:44', 'org.apache.spark.sql.hive.thriftserver.SparkOperation:run$:SparkOperation.scala:42', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:run:SparkExecuteStatementOperation.scala:46', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatementInternal:HiveSessionImpl.java:484', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatement:HiveSessionImpl.java:460', 'sun.reflect.NativeMethodAccessorImpl:invoke0:NativeMethodAccessorImpl.java:-2', 'sun.reflect.NativeMethodAccessorImpl:invoke:NativeMethodAccessorImpl.java:62', 'sun.reflect.DelegatingMethodAccessorImpl:invoke:DelegatingMethodAccessorImpl.java:43', 'java.lang.reflect.Method:invoke:Method.java:498', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:78', 'org.apache.hive.service.cli.session.HiveSessionProxy:access$000:HiveSessionProxy.java:36', 'org.apache.hive.service.cli.session.HiveSessionProxy$1:run:HiveSessionProxy.java:63', 'java.security.AccessController:doPrivileged:AccessController.java:-2', 'javax.security.auth.Subject:doAs:Subject.java:422', 'org.apache.hadoop.security.UserGroupInformation:doAs:UserGroupInformation.java:1730', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:59', 'com.sun.proxy.$Proxy30:executeStatement::-1', 'org.apache.hive.service.cli.CLIService:executeStatement:CLIService.java:280', 'org.apache.hive.service.cli.thrift.ThriftCLIService:ExecuteStatement:ThriftCLIService.java:439', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1437', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1422', 'org.apache.thrift.ProcessFunction:process:ProcessFunction.java:38', 'org.apache.thrift.TBaseProcessor:process:TBaseProcessor.java:39', 'org.apache.hive.service.auth.TSetIpAddressProcessor:process:TSetIpAddressProcessor.java:53', 'org.apache.thrift.server.TThreadPoolServer$WorkerProcess:run:TThreadPoolServer.java:310', 'java.util.concurrent.ThreadPoolExecutor:runWorker:ThreadPoolExecutor.java:1149', 'java.util.concurrent.ThreadPoolExecutor$Worker:run:ThreadPoolExecutor.java:624', 'java.lang.Thread:run:Thread.java:748', "*org.apache.spark.sql.AnalysisException:Table or view not found: ample.hudi_tbl; line 1 pos 14;\n'Project [*]\n+- 'UnresolvedRelation [ample, hudi_tbl]\n:66:29", 'org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt:failAnalysis:package.scala:42', 'org.apache.spark.sql.catalyst.analysis.CheckAnalysis:$anonfun$checkAnalysis$1:CheckAnalysis.scala:106', 'org.apache.spark.sql.catalyst.analysis.CheckAnalysis:$anonfun$checkAnalysis$1$adapted:CheckAnalysis.scala:92', 'org.apache.spark.sql.catalyst.trees.TreeNode:foreachUp:TreeNode.scala:185', 'org.apache.spark.sql.catalyst.trees.TreeNode:$anonfun$foreachUp$1:TreeNode.scala:184', 'org.apache.spark.sql.catalyst.trees.TreeNode:$anonfun$foreachUp$1$adapted:TreeNode.scala:184', 'scala.collection.immutable.List:foreach:List.scala:392', 'org.apache.spark.sql.catalyst.trees.TreeNode:foreachUp:TreeNode.scala:184', 'org.apache.spark.sql.catalyst.analysis.CheckAnalysis:checkAnalysis:CheckAnalysis.scala:92', 'org.apache.spark.sql.catalyst.analysis.CheckAnalysis:checkAnalysis$:CheckAnalysis.scala:89', 'org.apache.spark.sql.catalyst.analysis.Analyzer:checkAnalysis:Analyzer.scala:130', 'org.apache.spark.sql.catalyst.analysis.Analyzer:$anonfun$executeAndCheck$1:Analyzer.scala:151', 'org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$:markInAnalyzer:AnalysisHelper.scala:219', 'org.apache.spark.sql.catalyst.analysis.Analyzer:executeAndCheck:Analyzer.scala:148', 'org.apache.spark.sql.execution.QueryExecution:$anonfun$analyzed$1:QueryExecution.scala:68', 'org.apache.spark.sql.catalyst.QueryPlanningTracker:measurePhase:QueryPlanningTracker.scala:111', 'org.apache.spark.sql.execution.QueryExecution:$anonfun$executePhase$1:QueryExecution.scala:138', 'org.apache.spark.sql.SparkSession:withActive:SparkSession.scala:767', 'org.apache.spark.sql.execution.QueryExecution:executePhase:QueryExecution.scala:138', 'org.apache.spark.sql.execution.QueryExecution:analyzed$lzycompute:QueryExecution.scala:68', 'org.apache.spark.sql.execution.QueryExecution:analyzed:QueryExecution.scala:66', 'org.apache.spark.sql.execution.QueryExecution:assertAnalyzed:QueryExecution.scala:58', 'org.apache.spark.sql.Dataset$:$anonfun$ofRows$2:Dataset.scala:99', 'org.apache.spark.sql.SparkSession:withActive:SparkSession.scala:767', 'org.apache.spark.sql.Dataset$:ofRows:Dataset.scala:97', 'org.apache.spark.sql.SparkSession:$anonfun$sql$1:SparkSession.scala:610', 'org.apache.spark.sql.SparkSession:withActive:SparkSession.scala:767', 'org.apache.spark.sql.SparkSession:sql:SparkSession.scala:605', 'org.apache.spark.sql.SQLContext:sql:SQLContext.scala:650', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$thriftserver$SparkExecuteStatementOperation$$execute:SparkExecuteStatementOperation.scala:280'], sqlState=None, errorCode=0, errorMessage="Error running query: org.apache.spark.sql.AnalysisException: Table or view not found: ample.hudi_tbl; line 1 pos 14;\n'Project [*]\n+- 'UnresolvedRelation [ample, hudi_tbl]\n"), operationHandle=None)
[SQL: select * from ample.hudi_tbl]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# using datetime module
import datetime;
  
# ct stores current time
ct = datetime.datetime.now()
print("current time:-", ct)
  
# ts store timestamp of current time
ts = ct.timestamp()
print("timestamp:-", ts)

## for pg hms testing ##


engine = create_engine('postgresql://hive:pssd@postgres-hms:5432/metastore')
pd.read_sql_query("""
SELECT datname FROM pg_database
WHERE datistemplate = false;
""",con=engine)

pd.read_sql_query("""
SELECT distinct table_catalog, table_schema, table_name
FROM information_schema.tables
where table_schema = 'public'
""",con=engine)

pd.read_sql_query("""
SELECT * from "TBLS"
""",con=engine)